.main__members-block {
  margin-bottom: 86px;

  > .members__title {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin-bottom: 72px;

    > div {
      color: #e38c1d;
      font-family: "Exo2.0", serif;
      font-size: 25px;
      font-weight: 500;
    }
  }
  > .members__list {
    background: url("../images/steel.cover.svg");
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 42px;
    padding: 48px 0 48px 0;
    box-sizing: border-box;
    height: 697px;
    > .members__list-row {
      display: flex;
      align-items: center;
      /* justify-content: space-around; */
      gap: 62px;
    }
  }
}

.logo__main-href {
  display: inline-block;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 240px;
}

.logo__images {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  margin-bottom: 18px;
}

.bw-logo {
  width: 100%;
  height: auto;
}

.color-logo {
  width: 100%;
  height: auto;
  display: none;
}

.scaled {
  transform: scale(1.4);
}

.evraz {
  transform: translateY(50px);
}

.logo:hover .bw-logo {
  display: none;
}

.logo:hover .color-logo {
  display: block;
}

.bw-logo:hover {
  display: none;
}

.logo-info {
  width: 100%;
  text-align: center;
  > h3 {
    margin: 0;
    font-family: "Exo2.0", serif;
    font-size: 18px;
    color: black;
  }

  > span {
    color: #e38c1d;
    text-decoration: none;
    font-family: "Exo2.0", serif;
    font-size: 14px;
  }
}

/* .logo { */
/* width: 160px;
  height: 120px;
  margin: 10px;
}

.logo img {
  width: 100%;
  height: auto;
  transition: opacity 0.4s ease-in-out;
}

.logo .bw-logo {
  opacity: 1;
}

.logo .color-logo {
  opacity: 0;
}

.logo:hover .bw-logo {
  opacity: 0;
}

.logo:hover .color-logo {
  opacity: 1;
}

.logo-info {
  position: absolute;
  width: 100%;
  bottom: -40px;
  text-align: center;
  font-size: 14px;
  color: #000000;
  font-family: "Exo2.0", serif;
}

.logo-info a {
  color: #e38c1d;
  text-decoration: none;
  font-weight: bold;
}

.logo-info a:hover {
  text-decoration: underline;
} */
